.breadcrumb {
  display:none;
}
#main .content {
  color:#323232;
}
#main .content p {
  margin-bottom:1.4em;
}

.field-collection-container {
  border-top:2px solid #D3D7D9;
  border-bottom:2px solid #D3D7D9;
}

.field-collection-view {
  border-bottom:1px solid #D3D7D9;
}

.field-collection-view-final {
  border-bottom:none;
}

/**
 * About us
 */
.field-name-field-about-person-image {
  float:left;
  margin-right:10px;
}

.field-name-field-about-person-name {
  font-weight:bold;
  font-size:1.5em;
  margin-bottom:10px;
}

/**
 * Directions
 */
.node-type-directions .directions-wrapper {
  width:275px; 
  float:left;
  margin-right:20px;
}

.node-type-directions .directions-wrapper .field-collection-container:first-child {
  margin-botton:0px;
  border-bottom:0px;
} 
.field-name-field-directions-label {
  font-weight: bold;
}

/**
 * Generic Page
 */
.field-name-field-section-image {
  float:left;
  margin-right:20px;
  margin-bottom:5px;
}
.field-items .odd .field-name-field-section-image {
  float:right;
  margin-right:0px;
  margin-left:25px;
}
.field-name-field-section-header {
  font-weight:bold;
  font-size:1.5em;
  margin-bottom:10px;
}


/**
 * Obituaries
 */
.view-obituaries .node-teaser {
  float:none;
  height:auto;
  width:auto;
  margin-bottom:25px;
  
  
}
